---
layout: page
title: 樊宇
subtitle: 欢迎来到我的音乐博客～
bigimg:
  - "/img/big-imgs/happy-life.jpg" : "我们的幸福生活 (2016年6月28日)"
  - "/img/big-imgs/pingyao.jpg" : "平遥古城 (2016年8月11日)"
  - "/img/big-imgs/concert-160613.jpg" : "个人独奏音乐会：贝多芬、舒曼 (2016年6月13日)"
  - "/img/big-imgs/concert-161116.jpg" : "阿尔扎马斯—鲁斯兰师生巡回音乐会 (2016年11月16日)"
  - "/img/big-imgs/nngk.jpg" : "俄罗斯下诺夫哥罗德格林卡国立音乐学院 (2016年10月1日)"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      发布于 {{ post.date | date: "%Y年%-m月%-d日" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <section class="wow rotateIn" data-wow-duration="1.5s">
          <img src="{{ site.baseurl }}{{ post.image }}">
          </section>
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <section class="wow pulse" data-wow-duration="1.5s">
          <br><a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">【详细阅读】</a>
          </section>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      标签：
      {{ post.tags | join: " • " }}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
